*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: auto;
}
#Game{
    width:100%;
    height: 100%;
}
.gameover{
    display: none;
}
.Hide{
    display: block;
}
.gamestart{
    display: block;
}
.reloadp{
    display: none;
}
