*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: auto;
}
#Game{
    width:100%;
    height: 100%;
}
.gameover{
    display: none;
}
.Hide{
    display: block;
}
.gamestart{
    display: block;
}
.reloadp{
    display: none;
}
#Scorehistory div:first-child h2{
    margin: 0;
    padding:0 ;
    font-size: large;
    font-weight: bold;
}
#Scorehistory div:first-child h3{
    margin: 0;
    padding:0 ;
    font-weight: bold;
    font-size: medium;
    text-align: left;
    margin-left: 2rem;
}
#Scorehistory{
    width: 100%;
    height: 40%;
    position: relative;
    
}
#Scorehistory div:first-child{
    width: 100%;
    height: 100%;
    background-color: rgb(17, 213, 231);
    position: absolute;
    top: 0;
    right: -105%;
    transition: 500ms;
    text-align: center;
    overflow: scroll;
    font-size: medium;
    font-weight: bold;
}

#Scorehistory div:last-child{
    width: 10%;
    height: 10%;
    background-color: rgb(9, 12, 12);
    position: absolute;
    top: 50%;
    right: -9%;
    clip-path: polygon(50% 0%, 0 49%, 50% 100%);
    transition: 500ms;
    cursor: pointer;

}



